<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>realtime-chat-system</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div id="chat-container">
        <div id="messages"></div>
        <input id="message-input" type="text" placeholder="メッセージを入力">
        <button id="send-button">送信</button>
        <button id="change-username-button">ユーザー名変更</button>
        <input id="new-username-input" type="text" placeholder="新しいユーザー名" style="display: none;">
    </div>
    <script src="/static/js/chat.js"></script>
</body>
</html>
